<!DOCTYPE HTML>
<html ng-app="App">
	<head>

		<meta name="viewport" content="width=device-width" />

		<title>Product list | Templates </title>

		<link rel="stylesheet" href="/styles/normalize.css" />
		<link rel="stylesheet" href="/styles/styles.css" />

	</head>
	<body>
		<ul class="product-list three-col" ng-controller="ProductCtrl">
			<li class="product" ng-repeat="product in products" ng-class="{'with-info': product.info, 'with-offer': product.offer, 'product-hero': product.hero}">
				<a href="#">
					<div class="hero-image" style="background-image: url('{{product.image}}');" ng-if="product.hero">
						<h2 class="hero-text"><span>{{product.hero}}</span></h2>
						<button class="button call-to-action">Buy it nao!</button>
					</div>
					<img class="product-image" src="http://placehold.it/300x300/999/CCC" alt="Image of {{product.name}}" ng-if="!product.hero" />
					<div class="detail">
						<span class="price">&pound;{{product.price}}</span>
						<h3 class="name">{{product.name}}</h3>
						<p class="tagline">{{product.detail}}</p>
					</div>
					<div class="info" ng-if="product.info">
						<div class="content">
							{{product.info}}
						</div>
					</div>
					<span class="offer" ng-if="product.offer">{{product.offer}}</span>
					
		</ul>
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
		<script src="js/product-list.js"></script>
	</body>
</html>